/* -------
   Borders
   ------- */

/* 見出しを枠線で強調 */

h1 {
  border-left: 8px ridge #000000;
  border-bottom: 4px ridge #000000;
}

h2 {
  border-left: 6px solid #000000;
}

h3 {
  border-left: 6px double #000000;
}

/* テーブルに枠線を引く */

table {
  border-collapse: collapse;
  border: solid 2px black;
}
table th{
  border: solid 1px black;
}
table td {
  border: solid 1px black;
}

/* ----
   Misc
   ---- */

/* 見た目が不揃いなのを解消する
   - 半角英文字使うので等角じゃないと不均一になる
   - 全角半角入り交じる行が改行前に勝手にスペース調整されるのを防ぐ
*/
p, li, code, table {
  font-family: monospace;
  word-break: break-all;
}

/* 改行位置がほんの少しずれるのを回避する */
p {
  text-align: justify;
}

/* 段落ごとに自動でスペースを付与 */
p {
  text-indent: 1em;
}

/* 太字単体だと強調が乏しいので下線も付ける */
strong {
  text-decoration: underline;
}
